<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>reset password</title>
    <style>
        body{
            background: #7abecc;
            display: inline-block;

        }
        p{
            position: absolute;
            top: 35%;
            left: 20%;
            font-family: monospace;
            font-size: 43px;
            font-weight: 700;
            color: rgb(243, 0, 231);

        }
    </style>
    
</head>
<body>
    <p>email has been sent successfully !!!!<br>
    note: In Case check your spam messages too... </p>
</body>
</html>