*{
    margin: 0;
    padding: 0;
}



.main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.neu{
    height: auto;
    width: auto;
    border-radius: 20px;
    background-color: #f5f7fa;
    box-shadow: -5px -5px 10px #ffffff90, 5px 5px 20px #00000090;
}
